estacao_node.json
[{"id":"e1fd5a63.628748","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"e5ed330b.52563","type":"serial in","z":"e1fd5a63.628748","name":"Arduino","serial":"ee458ed5.11cdf","x":130,"y":280,"wires":[["5cff397d.404d68"]]},{"id":"5cff397d.404d68","type":"json","z":"e1fd5a63.628748","name":"","property":"payload","action":"","pretty":false,"x":300,"y":280,"wires":[["70828176.a51d4","ddd460b.31c11a","68900fb5.07683"]]},{"id":"70828176.a51d4","type":"change","z":"e1fd5a63.628748","name":"UV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.exposicaoUV","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[["20a5e059.c7b25","47b6184c.e2a458","a7db37.ce3f94c8"]],"outputLabels":["UV: "]},{"id":"20a5e059.c7b25","type":"debug","z":"e1fd5a63.628748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"ddd460b.31c11a","type":"change","z":"e1fd5a63.628748","name":"Graus","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TempGraus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["7253809b.07fd2","43d18680.2e7018","a7db37.ce3f94c8"]]},{"id":"68900fb5.07683","type":"change","z":"e1fd5a63.628748","name":"KM/H do vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Ventokmh","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["13f08540.95a33b","3bde80df.f490b","a7db37.ce3f94c8","4e40fa5b.6d7554"]]},{"id":"7253809b.07fd2","type":"debug","z":"e1fd5a63.628748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"13f08540.95a33b","type":"debug","z":"e1fd5a63.628748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":560,"wires":[]},{"id":"47b6184c.e2a458","type":"ui_gauge","z":"e1fd5a63.628748","name":"","group":"4df4019f.cd6b9","order":0,"width":0,"height":0,"gtype":"gage","title":"Exposição UV","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"250","seg2":"","x":760,"y":100,"wires":[]},{"id":"3bde80df.f490b","type":"ui_chart","z":"e1fd5a63.628748","name":"Km/H","group":"4df4019f.cd6b9","order":2,"width":0,"height":0,"label":"Km/H","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ff0000","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":420,"wires":[[]]},{"id":"43d18680.2e7018","type":"ui_gauge","z":"e1fd5a63.628748","name":"","group":"4df4019f.cd6b9","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºGraus","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"","x":730,"y":320,"wires":[]},{"id":"4e40fa5b.6d7554","type":"function","z":"e1fd5a63.628748","name":"recebe_tweet","func":"if(msg.payload.Ventokmh > 80){\n    msg.payload = \"Cuidado, ventos a mais de 80km/h\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":480,"wires":[["d9c7642.ede5598","5da0898e.94fa28"]]},{"id":"a7db37.ce3f94c8","type":"mqtt out","z":"e1fd5a63.628748","name":"servermqtt","topic":"estacaometeorologica/online","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d32c624b.70708","x":1090,"y":280,"wires":[]},{"id":"d9c7642.ede5598","type":"twitter out","z":"e1fd5a63.628748","twitter":"","name":"twittar_acima80","x":1180,"y":480,"wires":[]},{"id":"5da0898e.94fa28","type":"debug","z":"e1fd5a63.628748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":380,"wires":[]},{"id":"ee458ed5.11cdf","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4df4019f.cd6b9","type":"ui_group","name":"Estação Metereologica","tab":"41b5d54.72c842c","order":1,"disp":true,"width":"12","collapse":true},{"id":"d32c624b.70708","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"41b5d54.72c842c","type":"ui_tab","name":"Checkpoint 4","icon":"dashboard","disabled":false,"hidden":false}]